@using Myblog.Helpers
@inherits Statiq.Razor.StatiqRazorPage<dynamic>
@{
  ViewBag.Title = "博客首页";
  IEnumerable<IDocument> posts = OutputPages;
  posts = posts.Where(p => p.Source != null && p.Source.ToString().Contains("/posts"));
  posts = posts.OrderByDescending(p =>
  {
    DateTime d;
    if (DateTime.TryParse(p.GetString("Date"), out d))
      return d;
    else
      return DateTime.MinValue;
  });
}
<section class="w-full md:w-1/2 px-4 text-gray-600 body-font overflow-hidden">
  <div class="space-y-6">
    @foreach (var p in posts)
    {
      var title = IndexHelper.GetTitle(p);
      var date = p.GetString("Date");
      var (excerpt, isHtml) = IndexHelper.GetExcerpt(p);
      var url = IndexHelper.GetUrl(p, IExecutionContext.Current);
      <article class="group bg-white rounded-xl p-6 shadow-sm transform transition-transform duration-200 ease-in-out hover:scale-102 hover:shadow-md hover:bg-gray-50 dark:bg-gray-800 dark:hover:bg-gray-700">
        <a href="@url">
          <div class="md:flex">
            <div class="md:w-36 md:mb-0 mb-1 flex-shrink-0">
              <!-- <span class="font-semibold title-font text-gray-700">CATEGORY</span> -->
              <span class="text-xs text-gray-500">@date</span>
            </div>
            <div class="md:flex-1 cursor-pointer">
              <h2 class="text-lg md:text-xl font-semibold text-gray-900 dark:text-gray-300 group-hover:text-indigo-400 dark:group-hover:text-white transition-colors duration-150">@title</h2>
              <p class="mt-2 text-xs text-gray-600 dark:text-gray-300 leading-relaxed">
                @if (isHtml)
                {
                  @Html.Raw(excerpt);
                }
                else
                {
                  @IndexHelper.Encode(excerpt);
                }
              </p>
            </div>
          </div>
        </a>
      </article>
    }
  </div>
</section>
